@import'../../scss/display/header';
@import'../../scss/display/main';
@import'../../scss/display/footer';
@import'../../scss/base/mixins';

.proyect3{
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: 150px,repeat(6,1fr);
    grid-column-gap:10px;
    grid-row-gap:10px;
    border-top: 10 px solid grey;
    border-top-style:outset;
    margin: 4px;
    


    h2,h3,h4,h5,h6{
        color:nth($colors,4);
        text-shadow: 0px 0px 2px #0E578F;
    }

    p{ 
        font-family: $font-family;
        font-size: $font-size-p;
        color:nth($colors,1);
        font-weight: bolder;
        padding-right: 8px;
    }


    div img {
        height: 100%;
        width: 100%;
            
    }

    .grey-background{
        
        @include challenge-solution;
        
    }


    &__header{
        grid-column: 1/3;
        justify-self: center;
        margin: 30px 0px;
        text-shadow: 0px 0px 2px #0E578F;

        h2{
            font-size: 36px;
        }
    }

    &__description1{
        grid-column: 1/3;
        padding: 0px 10px;
        text-shadow:0px 0px 2px gray ;
    }


    &__img1{
        grid-column: 1/3;
           
    }


    &__description2{
        grid-column: 1/3;
        
            
    }
}

@media (min-width:425px) and (max-width:768px){
    .proyect3{
        display:flex;
        flex-direction: column;
    }
    .proyect3 div p{
        font-size: $font-size-alternative-p;
    }
    .poryect3 div h2,h3,h4,h5,h6{
        font-size: $font-size-alternative-titles;
    }
}
@media (max-width:425px){
    .proyect3{
        display:flex;
        flex-direction: column;
    }
    .proyect3 div p{
        font-size: $font-size-alternative-p;
    }
    .poryect3 div h2,h3,h4,h5,h6{
        font-size: $font-size-alternative-titles;
    }

}






