@import '../../scss/display/header';
@import '../../scss/display/main';
@import'../../scss/display/footer';

#mainIndex-section{
   
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: stretch;
    width: 100%;
    box-shadow: 0px 0px 10px grey;
       

    article a,p{
        text-decoration: none;
        color:nth($colors,1);
        font-weight: bold;
        font-size: $font-size-p;
        text-shadow: 0px 0px 2px grey;    
    }

    .indexArticle {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 20px;
        border-bottom: 20px;
        border-bottom: inset;
       
        &:hover{
            .indexArticle__img {
                opacity: 0;
            }

            .articleParagraph {
                opacity: 1;
            }
        }

        .articleParagraph {
            opacity: 0;
            transition: opacity 1s;
        }

        &__img {
            height: 150px;
            width: 100%;
            background-repeat:no-repeat;
            background-position: center;
            transition: opacity 1s;
            opacity: 1;
        }

        &__img1 {
            background-image: url("../img/five.png");
        }

        &__img2 {
            background-image: url("../img/clarin.png"); 
        }

        &__img3 {
            background-image: url(../../img/heroes.jpg); 
        }    
    }

    .lastArticle{
         border-bottom: none;
    }
}



#hobbies-section {
    
    margin-top: 20px;
    margin-left: 10px;

    h3{
        margin-top: 15px;
        margin-left: 10px;
    }

    h4{
        margin-left: 10px;
        color:nth($colors,1);
        font-weight:600;
        line-height: 50px;
    }
    

    .hobbiesContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        border-bottom: inset;
        border-width: 2px;
        border-color:#C7C7C7 ;
        padding-bottom: 20px;
        

        img{
            width: 100%;
            margin: 5px;

            &:hover{
                transition:1s;
                transform: scale(1.1,1.1);
            }
                 
        }
        
    }


}

#form{
    padding-top: 60px;
}

.ending-part{
    display: flex;
    justify-content:center;

    img{
        width: 100%;
        height: 100%;
        
    }


    p{
        font-size:40px ;
        font-weight: 400;
        padding-top: 100px;
        padding-left: 40px;
    }
    &__signature{
        font-size:$font-size-p !important;
        
    
    }

}


@media (min-width:425px) and (max-width:768px){

    #mainIndex-section{
        display: flex;
        flex-direction: column;
    }

    .indexArticle{
        width: 100%;
        margin: 0px auto;
    }
    .indexArticle__img{
        width: 100%;
        height: 100%;
    }
  
    .ending-part img{
        width: 100%;
    }
    

}
@media  (max-width:425px){

    #mainIndex-section{
        display: flex;
        flex-direction: column;
    }
    .indexArticle{
        width: 100%;
        margin: 0px auto;
    }
    .indexArticle__img{
        width: 100%;
        height: 100%;
    }
     
    .ending-part{
        display: flex;
        flex-direction: column;
    }
    .ending-part .ending-part__signature,p{
        font-size: 30px;
        line-height: unset;
        padding: 0px;
        margin: 10px 10px;
    }
    .ending-part img{
        width: 100%;
    }
}
@media (min-width:250px) and (max-width:425px){

    .indexArticle{
        width: 100%;
        margin: 0px auto;
    }
    .indexArticle__img{
        width:100%;
    }

}