@font-face {
    font-family:'montserrat-regular' ;
    src: url("../../fonts/montserrat/Montserrat-Regular.ttf") format('ttf');
    font-display: swap;
}



$font-family:'montserrat-regular',sans-serif;
$nav-font-family:'Roboto';
$font-size-p:22px;
$font-size-titles:24px;
$font-size-alternative-p:18px;
$font-size-alternative-titles:20px;
