<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="keywords"  content="ux,portfolio,design,ui-experience,The Five experience,Clarin network, Los Heroes mobile banking CL"/>
        <meta name="description" content="ux/ui designer Carolina Sartori portfolio ,this portfolio  shares three projects and their
        processes:FIVE, Clarín and Los Héroes.Also a brief summary of the ux/ui design and process."./>
        <meta property="og:title" content=" ux/ui desginer Carolina Sartori">
        <meta property="og:author" content="Exequiel Christian Cocchi Iuretic">
        <link rel="shortcut icon" href="../img/favicon.ico" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="../../css/style.css" />
        
        <title>Ux-design</title>
      </head>
  <body>
    <!--Header-->
    <header id="header">
        <nav class="navbar navbar-light bg-light fixed-top">
            <div class="container-fluid">
              <a class="navbar-brand fw-bold text-secondary " 
              href="#header">CS</a>
              <button class="navbar-toggler hover" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title text-secondary  " id="offcanvasNavbarLabel">Carolina Sartori</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 ">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="../index/index.html">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="uxdesign.html">Ux design & process</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Work
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                        <li><a class="dropdown-item" href="../proyect1/proyect1.html">Five</a></li>
                        <li><a class="dropdown-item" href="../proyect2/proyect2.html">Clarin</a></li>
                        <li><a class="dropdown-item" href="../proyect3/proyect3.html">Los Heroes</a></li>
                      </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../index/index.html#form ">Contact</a>
                      </li>
                  </ul>
                  
                </div>
              </div>
            </div>
          </nav>
      <a class="profile" href="../index/index.html">
        <div  class="header__logo">
            <div>
                <img class="profile-photo"
                    src="../../img/caroprofile-removebg-preview.png"
                    alt="Profile photo"
                />
            </div>
            <div>
                <h1 class="header__intro">
                    Hi, i'm Caro!! <br />UX/UI Designer
                </h1>
            </div>
        </div>
        <div id="header__info">
          <div id="name">
            <p>Full name</p>
            <p class="title">Carolina Sartori</p>
          </div>

          <div id="email">
            <p>Email</p>
            <p class="title">caro.Sartori@live.com.ar</p>
          </div>

          <div id="nationality">
            <p>Nationality</p>
            <p class="title">Argentina/Italy</p>
          </div>

          <div id="paragraph">
            <p>
              In this portfolio i share three projects and their
              processes:"FIVE, "Clarín" and "Los Héroes"
            </p>
          </div>
        </div>
      </a>
    </header>
    <!--main-->
    <main class="main">
      <section class="ux-process">
        <article class="grey-background article1">
          <h2 class="title">UX Process</h2>
          <div>
            <img src="../../img/ux-intro.png" alt="ux-chart" />
          </div>
          <div>
            <h3 class="research">Research</h3>
          </div>

          <div class="paragraph">
            <div>
              <h4>Let´s start from the very beginning...</h4>
              <p>
                We stated by interviewing our potential users and having focus
                groups to try and understand their needs. Since the app was new,
                we had really big horizons and we saved every idea that came up
                for the future.
              </p>
            </div>
            <div>
              <img src="../../img/ux-research.png" alt="esearch" />
            </div>
            <div class="grey-background">
              <h5>Interviews</h5>
              <p>
                From a <span>mentor perspective</span> , we wanted to know how
                much real time they could really devote to a child in their
                daily basis. As we knew from the beginning, mentor will be busy
                people and we wanted them to have an engagement with FIVE but at
                the same time not to feel it as an obligation. On the other
                hand, we also had quick talks with
                <span>high school students</span> to understand what they will
                like and what will help them have engagement with an app that
                will need their compromise on completing tasks and reading
                interesting stuff.
              </p>
            </div>
            <div>
              <h5>Focus Groups</h5>
              <p>
                We divided children between 12 and 16 years old into groups
                around 6 kids. This helped us understand the needs of the kids
                in a safe environment, where they could discuss and share their
                thoughts with others. We used moderating techniques to help the
                kids feel comfortable and interact to start to know each other.
                We took a lot of feedback from these potential users, it helped
                us as lot to empae with them, as they achieved to show
                themselves in a really good atmosphere with no judgement.
              </p>
            </div>
          </div>
          <div class="titles">
            <h3>User Flow and Interactions</h3>
            <h4>
              With all the information from our first research stage, so we had
              our starting point...
            </h4>
            <h5>Application Process and First Time App Use</h5>
            <p>
              We need to give a very good first impression and a nice user
              experience, so we took a deep thought on how to work on these
              first experiences for both our mentors and mentees. We created
              users tasks flows that reflected all the steps an alternatives
              before we started wireframing the whole app flow.
            </p>
          </div>
          <div>
            <img src="https://i.ibb.co/TRn2HZG/ux2.jpg" alt="ux2" border="0" />
          </div>

          <div class="titles">
            <h5>Wire frames and Flows</h5>
            <p>
              Once we had a deeper idea on how the main flows would be, we
              started wireframing and thinking the all the first interactions.
            </p>
          </div>
          <div>
            <img src="https://i.ibb.co/Q66sCTz/ux3.png" alt="ux3" border="0" />
          </div>

          <div class="titles">
            <h5>Interaction Patterns</h5>

            <p>
              “Experience is critical, for it determines how fondly people
              remember their interactions.-” - Don Norman in The Design of
              Everyday Things
            </p>
          </div>
          <div>
            <img src="https://i.ibb.co/VCrGyT5/ux4.jpg" alt="ux4" border="0" />
          </div>
        </article>
        <article class="grey-background article2">
          <div class="titles">
            <h5>Feedback</h5>
            <p>
              Every action needs a reaction. We used a short animation to show
              when an emoji is selected.
            </p>
            <div>
              <img
                src="https://i.ibb.co/BtYFYT5/ux-feedback.jpg"
                alt="ux-feedback"
                border="0"
              />
            </div>
          </div>

          <div class="titles">
            <h5>Visibility</h5>
            <p>
              Users need to know what the options are In every place where the
              user can do something, they have button for the main actions
            </p>
            <div>
              <img
                src="https://i.ibb.co/3dvpPKr/uxvisi.gif"
                alt="uxvisi"
                border="0"
              />
            </div>
          </div>
          <div class="titles">
            <h5>Affordance</h5>
            <p>
              Users need to understand something by what it looks like The
              camera icon is a known pattern for opening the camera
            </p>
            <div>
              <img
                src="https://i.ibb.co/zxzQ6xf/uiaffor.png"
                alt="uiaffor"
                border="0"
              />
            </div>
          </div>
          <div class="titles">
            <h5>Consistency</h5>
            <p>
              The same action has to cause the same reaction, every time All
              cards work the same way in all the app
            </p>
            <div>
              <img
                src="https://i.ibb.co/L0KDz7H/uxconsistency.png"
                alt="uxconsistency"
                border="0"
              />
            </div>
          </div>
          <div class="titles">
            <h5>Constraints</h5>
            <p>
              Limiting the range of interaction We don’t want to confuse the
              user, and we just show possible action
            </p>
            <div>
              <img
                src="https://i.ibb.co/swrKBKH/uxconstraints.png"
                alt="uxconstraints"
                border="0"
              />
            </div>
          </div>
        </article>
      </section>
    </main>
    <!--Footer-->
    <footer>
      <div class="copyright">
        <p>&copy; Designed by Exequiel Cocchi</p>
        <p><a href="https://github.com/execocchi">Github</a></p>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
      integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
      integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
